h1 {

	text-align: center;
	font-family: 'Skranji', cursive;
	font-size: 70px;
	color: white;
	background-color: black;
}

h2 {
	text-align: center;
	font-family: 'Skranji', cursive;
	font-size: 40px;
	color: white;
	background-color: black;

}

body {
	
	background-image: url(../images/logo.jpg);
	background-repeat: none;
	background-size: cover;

}


#imageBox {
	margin-left: auto;
	margin-right: auto;
	width: 95%;
	text-align: center;
}

.navButton {
	width: 15%;
	float: right;
}

#picWindow{
	width: 70%;
	float: right;
}

#leftButton {
	float: left;
}

#rightButton{
	float: right;
}



.arrowButton{

	
	width: 55%;
	margin-top: 70%;
	
}


.arrowButton:hover{


	width: 55%;
	margin-top: 70%;
	opacity: 0.75;
}

#audioBox{

	text-align: center;
}








